# ignore Makefiles
Dependencies/Poco/Foundation/Makefile
Dependencies/Poco/Makefile
Dependencies/Poco/Net/Makefile

# ignore python cache
*.pyc

# backup folder
codegenerator/backup

# Doxygen
doc/Doxygen/doc


# jganser additions
*.vscode
*.cmake

**/Makefile
**/CMakeCache.txt
**/bin
**/build
**/lib
**/Poco
**/CMakeFiles

# install
install
install_manifest.txt
